{% extends 'base.html.twig' %}

{% block title %}Exchanger Rates | List{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href = " {{ asset('assets/css/style.css')}} ">
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="align-center"> Exchanges Rates For : {{ base_currency }}</h1>
        <div class='row'>
            <div class='col-6'>
                <select id='select_base_currency' class="form-input">
                    {% for curr in base_currencies%}
                        <option {% if curr == base_currency %} selected='selected' {% endif %} value='{{ curr }}'
                            data-attr-href='{{ path('show_rates') }}?base={{ curr }}'>{{ curr }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class='col-6'>
                <a href='{{ path('exchange') }}' class='btn btn-link btn-right'>Back</a>
                <button class='btn btn-success btn-right' id='add-exchange-rate'> Add </button>
                <a href='{{ path('latestRates') }}?base={{ base_currency }}' class='btn btn-warning btn-right'>Refresh Rates</a>
            </div>
        </div>
        <br /><br />
        <hr />
        <div class='row'>
            <div class='row'>
                <table id="tbl-exchange-rate" class="display">
                    <thead>
                        <tr>
                            <th>Currency</th>
                            <th>Exchange Rate</th>
                            <th>Created On</th>
                            <th>Last updated On</th>                           
                            <th>Action</th>                           
                        </tr>
                    </thead>
                    <tbody>
                        {% for rate in exchange_rates%}
                            <tr>
                                <td>{{ rate.currency }}</td>
                                <td>{{ rate.exchangeRate }}</td>
                                <td>{{ rate.createdDatetime|date('d-M-Y h:i a') }}</td>
                                <td>{{ rate.updatedDatetime|date('d-M-Y h:i a') }}</td>
                                <td>
                                    <a href='{{ path('deleteExchangeRate') }}?id={{ rate.id}}' class='btn btn-danger btn-right'>Delete</a>
                                    <button class='btn btn-warning btn-right edit-exchange-rate' data-rid="{{ rate.id}}" data-currency="{{ rate.currency}}" data-value="{{ rate.exchangeRate}}">Edit</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
            <div id='frm-exchange' style='display:none' title="Add exchange rate">
                <input type='hidden' name='default_currency' id='default_currency' value='{{ base_currency }}'/>
                <div>
                    <lable>Default Currency : {{ base_currency }}</lable>
                </div>
                <br/>
                <div>
                    <lable>Currency :</lable>
                    <br/>
                    <select id='currency' class="form-input">
                        <option value=''>-- Select Currency --</option>
                        {% for currency in currnecy_list%}
                            <option value='{{ currency }}'>{{ currency }}</option>
                        {% endfor %}
                    </select>
                </div><br/>
                <div>
                    <lable>Exchange Rate:</lable>
                    <input type='text' id='input-exchange-rate' class="form-input" />
                </div>
                <br/>
                <div><input type='button' id='save-exchange-rate' data-rid="" class="btn btn-link" value='Save'/></div>
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ asset('assets/js/exchange-rates.js') }}"></script>
{% endblock %}
